Occupancy Simulator:
  module: occusim
  class: OccuSim
  log: 1
  #notify: 1
  enable: input_boolean.vacation,off
  test: 1
  dump_times: 1
  #reset_time: 02:00:00

  random_office_end: Night
  random_office_maxduration: 00:30:00
  random_office_minduration: 00:03:00
  random_office_name: Evening Office
  random_office_number: '3'
  random_office_off_1: scene.office_off
  random_office_on_1: scene.office_on
  random_office_start: Evening

  step_evening_name: Evening
  step_evening_start: sunset - 00:45:00
 
  step_lightsout_end_offset: 01:00:00
  step_lightsout_name: Lights Out
  step_lightsout_off_1: scene.bedroom_off
  step_lightsout_relative: Night
  step_lightsout_start_offset: 00:05:00

  step_morning_days: mon,tue,wed,thu,fri
  step_morning_end: 06:00:00
  step_morning_name: Morning
  step_morning_on_1: event.MODE_CHANGE,mode
  step_morning_start: 05:30:00

  step_night_end: '22:30:00'
  step_night_name: Night
  step_night_on_1: event.MODE_CHANGE,mode
  step_night_start: '21:30:00'

  step_upstairs_hall_off_1: scene.upstairs_hall_off
  step_upstairs_hall_off_end_offset: 00:05:00
  step_upstairs_hall_off_name: Upstairs Hall Off
  step_upstairs_hall_off_relative: Night
  step_upstairs_hall_off_start_offset: 00:01:00
